@model KJFZ.Models.TerminBO
@{
    ViewData["Title"] = "Zakazivanje";
    string pKorisnikId = this.ViewContext.HttpContext.Session.Get<String>("KorisnikId");
}

<h1>Zakazivanje</h1>

<h4>Termin</h4>
<hr />

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Usluga</label>
                @{ if (@ViewBag.T1 != 2) { 
                    <select asp-for="UslugaId" class ="form-control" asp-items="ViewBag.UslugaId"></select>
		        } }
		        @{ else {
                    <input readonly asp-for="UslugaId" class="form-control" />
                } }
            </div>
            <input hidden asp-for="KorisnikId" class="form-control" value="@pKorisnikId" />
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
            	@{ if (@ViewBag.T1 != 2) { 
                	<input asp-for="Datum" class="form-control" />
		        } }
		        @{ else { 
			        <input readonly asp-for="Datum" class="form-control" />
		        } }
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            @{ if (@ViewBag.T1 == 2) { 
            <div class="form-group">
                <label asp-for="Vreme" class="control-label"></label>
                        <select class="form-control" name="VremeHalfHour" asp-items="ViewBag.VremeHalfHour"></select>
            </div>
            } }
            <div class="form-group">
                <label asp-for="KorisnikFrizerId" class="control-label">Frizer</label>
                @{ if (@ViewBag.T1 != 2) { 
                    <select asp-for="KorisnikFrizerId" class="form-control" asp-items="ViewBag.KorisnikFrizerId"></select>
                } }
                @{ else {
                    <input readonly asp-for="KorisnikFrizerId" class="form-control" />
                } }
            </div>

            <input type="hidden" asp-for="Uradjeno" />
            <input type="hidden" name="T1" value="@ViewBag.T1" />
            <div class="form-group">
                <input type="submit" value="Potvrdi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
