@model KJFZ.Models.TerminBO
@{
    ViewData["Title"] = "Otkazivanje";
    Include1 inc1 = new Include1();
}

<h1>Otkazivanje</h1>

<h3>Da li ste sigurni da želite da otkažete termin?</h3>
<div>
    <h4>Termin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Termin
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TerminId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.KorisnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vreme)
        </dt>
        <dd class = "col-sm-10">
            @inc1.intToHalfHour(Html.DisplayFor(model => model.Vreme))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uradjeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uradjeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usluga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usluga.UslugaId)
        </dd>
        <dt class = "col-sm-2">
            Frizer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnikFrizerId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TerminId" />
        <input type="submit" value="Otkaži" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
